In [12]:
# https://pythonprogramming.net/mean-shift-titanic-dataset-machine-learning-tutorial/
%matplotlib inline

import numpy as np
from sklearn.cluster import MeanShift, KMeans
from sklearn import preprocessing, cross_validation
import pandas as pd
import matplotlib.pyplot as plt


'''
Pclass Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
survival Survival (0 = No; 1 = Yes)
name Name
sex Sex
age Age
sibsp Number of Siblings/Spouses Aboard
parch Number of Parents/Children Aboard
ticket Ticket Number
fare Passenger Fare (British pound)
cabin Cabin
embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
boat Lifeboat
body Body Identification Number
home.dest Home/Destination
'''


# https://pythonprogramming.net/static/downloads/machine-learning-data/titanic.xls
df = pd.read_excel('titanic.xls')

original_df = pd.DataFrame.copy(df)
df.drop(['body','name'], 1, inplace=True)
df.fillna(0,inplace=True)

def handle_non_numerical_data(df):
    
    # handling non-numerical data: must convert.
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        #print(column,df[column].dtype)
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            
            column_contents = df[column].values.tolist()
            #finding just the uniques
            unique_elements = set(column_contents)
            # great, found them. 
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    # creating dict that contains new
                    # id per unique string
                    text_digit_vals[unique] = x
                    x+=1
            # now we map the new "id" vlaue
            # to replace the string. 
            df[column] = list(map(convert_to_int,df[column]))

    return df

df = handle_non_numerical_data(df)
df.drop(['ticket','home.dest'], 1, inplace=True)

X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = MeanShift()
clf.fit(X)

MeanShift(bandwidth=None, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

In [13]:
labels = clf.labels_
cluster_centers = clf.cluster_centers_

In [14]:
original_df['cluster_group']=np.nan

In [15]:
for i in range(len(X)):
    original_df['cluster_group'].iloc[i] = labels[i]

/Users/jonathanfraine/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [16]:
n_clusters_ = len(np.unique(labels))
survival_rates = {}
for i in range(n_clusters_):
    temp_df = original_df[ (original_df['cluster_group']==float(i)) ]
    #print(temp_df.head())

    survival_cluster = temp_df[  (temp_df['survived'] == 1) ]

    survival_rate = len(survival_cluster) / len(temp_df)
    #print(i,survival_rate)
    survival_rates[i] = survival_rate
    
survival_rates

{0: 0.37022292993630573, 1: 0.7567567567567568, 2: 1.0, 3: 0.1}

In [17]:
print(original_df[ (original_df['cluster_group']==1) ])

     pclass  survived                                               name  \
10        1         0                             Astor, Col. John Jacob
16        1         0                           Baxter, Mr. Quigg Edmond
17        1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
54        1         1                Carter, Master. William Thornton II
55        1         1                          Carter, Miss. Lucile Polk
56        1         1                         Carter, Mr. William Ernest
57        1         1          Carter, Mrs. William Ernest (Lucile Polk)
78        1         1  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...
97        1         1  Douglas, Mrs. Frederick Charles (Mary Helene B...
98        1         1        Douglas, Mrs. Walter Donald (Mahala Dutton)
103       1         1                      Endres, Miss. Caroline Louise
111       1         1                     Fortune, Miss. Alice Elizabeth
112       1         1                         Fortune, Miss. Ethel Flora
113       1         1                         Fortune, Miss. Mabel Helen
114       1         0                     Fortune, Mr. Charles Alexander
115       1         0                                  Fortune, Mr. Mark
116       1         1                Fortune, Mrs. Mark (Mary McDougald)
129       1         1                               Geiger, Miss. Amalie
139       1         1      Graham, Mrs. William Thompson (Edith Junkins)
141       1         1       Greenfield, Mrs. Leo David (Blanche Strouse)
173       1         0                                 Keeping, Mr. Edwin
193       1         1                  Madill, Miss. Georgette Alexandra
215       1         0                         Newell, Mr. Arthur Webster
238       1         1  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
249       1         1                        Ryerson, Master. John Borie
250       1         1                         Ryerson, Miss. Emily Borie
251       1         1              Ryerson, Miss. Susan Parker "Suzette"
252       1         0                         Ryerson, Mr. Arthur Larned
253       1         1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
273       1         1                    Spedden, Master. Robert Douglas
274       1         1                       Spedden, Mr. Frederic Oakley
275       1         1  Spedden, Mrs. Frederic Oakley (Margaretta Corn...
309       1         1                           Wick, Miss. Mary Natalie
312       1         0                         Widener, Mr. George Dunton
313       1         0                          Widener, Mr. Harry Elkins
314       1         1       Widener, Mrs. George Dunton (Eleanor Elkins)
342       2         1   Becker, Mrs. Allen Oliver (Nellie E Baumgardner)

        sex   age  sibsp  parch    ticket      fare            cabin embarked  \
10     male  47.0      1      0  PC 17757  227.5250          C62 C64        C
16     male  24.0      0      1  PC 17558  247.5208          B58 B60        C
17   female  50.0      0      1  PC 17558  247.5208          B58 B60        C
54     male  11.0      1      2    113760  120.0000          B96 B98        S
55   female  14.0      1      2    113760  120.0000          B96 B98        S
56     male  36.0      1      2    113760  120.0000          B96 B98        S
57   female  36.0      1      2    113760  120.0000          B96 B98        S
78   female  64.0      0      2  PC 17756   83.1583              E45        C
97   female  27.0      1      1  PC 17558  247.5208          B58 B60        C
98   female  48.0      1      0  PC 17761  106.4250              C86        C
103  female  38.0      0      0  PC 17757  227.5250              C45        C
111  female  24.0      3      2     19950  263.0000      C23 C25 C27        S
112  female  28.0      3      2     19950  263.0000      C23 C25 C27        S
113  female  23.0      3      2     19950  263.0000      C23 C25 C27        S
114    male  19.0      3      2     19950  263.0000      C23 C25 C27        S
115    male  64.0      1      4     19950  263.0000      C23 C25 C27        S
116  female  60.0      1      4     19950  263.0000      C23 C25 C27        S
129  female  35.0      0      0    113503  211.5000             C130        C
139  female  58.0      0      1  PC 17582  153.4625             C125        S
141  female  45.0      0      1  PC 17759   63.3583          D10 D12        C
173    male  32.5      0      0    113503  211.5000             C132        C
193  female  15.0      0      1     24160  211.3375               B5        S
215    male  58.0      0      2     35273  113.2750              D48        C
238  female  43.0      0      1     24160  211.3375               B3        S
249    male  13.0      2      2  PC 17608  262.3750  B57 B59 B63 B66        C
250  female  18.0      2      2  PC 17608  262.3750  B57 B59 B63 B66        C
251  female  21.0      2      2  PC 17608  262.3750  B57 B59 B63 B66        C
252    male  61.0      1      3  PC 17608  262.3750  B57 B59 B63 B66        C
253  female  48.0      1      3  PC 17608  262.3750  B57 B59 B63 B66        C
273    male   6.0      0      2     16966  134.5000              E34        C
274    male  45.0      1      1     16966  134.5000              E34        C
275  female  40.0      1      1     16966  134.5000              E34        C
309  female  31.0      0      2     36928  164.8667               C7        S
312    male  50.0      1      1    113503  211.5000              C80        C
313    male  27.0      0      2    113503  211.5000              C82        C
314  female  50.0      1      1    113503  211.5000              C80        C
342  female  36.0      0      3    230136   39.0000               F4        S

    boat   body                           home.dest  cluster_group
10   NaN  124.0                        New York, NY            1.0
16   NaN    NaN                        Montreal, PQ            1.0
17     6    NaN                        Montreal, PQ            1.0
54     4    NaN                       Bryn Mawr, PA            1.0
55     4    NaN                       Bryn Mawr, PA            1.0
56     C    NaN                       Bryn Mawr, PA            1.0
57     4    NaN                       Bryn Mawr, PA            1.0
78    14    NaN                        Lakewood, NJ            1.0
97     6    NaN                        Montreal, PQ            1.0
98     2    NaN    Deephaven, MN / Cedar Rapids, IA            1.0
103    4    NaN                        New York, NY            1.0
111   10    NaN                        Winnipeg, MB            1.0
112   10    NaN                        Winnipeg, MB            1.0
113   10    NaN                        Winnipeg, MB            1.0
114  NaN    NaN                        Winnipeg, MB            1.0
115  NaN    NaN                        Winnipeg, MB            1.0
116   10    NaN                        Winnipeg, MB            1.0
129    4    NaN                                 NaN            1.0
139    3    NaN                       Greenwich, CT            1.0
141    7    NaN                        New York, NY            1.0
173  NaN   45.0                                 NaN            1.0
193    2    NaN                        St Louis, MO            1.0
215  NaN  122.0                       Lexington, MA            1.0
238    2    NaN                        St Louis, MO            1.0
249    4    NaN     Haverford, PA / Cooperstown, NY            1.0
250    4    NaN     Haverford, PA / Cooperstown, NY            1.0
251    4    NaN     Haverford, PA / Cooperstown, NY            1.0
252  NaN    NaN     Haverford, PA / Cooperstown, NY            1.0
253    4    NaN     Haverford, PA / Cooperstown, NY            1.0
273    3    NaN                     Tuxedo Park, NY            1.0
274    3    NaN                     Tuxedo Park, NY            1.0
275    3    NaN                     Tuxedo Park, NY            1.0
309    8    NaN                      Youngstown, OH            1.0
312  NaN    NaN                     Elkins Park, PA            1.0
313  NaN    NaN                     Elkins Park, PA            1.0
314    4    NaN                     Elkins Park, PA            1.0
342   11    NaN  Guntur, India / Benton Harbour, MI            1.0

In [18]:
print(original_df[ (original_df['cluster_group']==0) ].describe())

            pclass     survived         age        sibsp       parch  \
count  1256.000000  1256.000000  995.000000  1256.000000  1256.00000
mean      2.332803     0.370223   29.493635     0.487261     0.30414
std       0.818554     0.483057   14.323514     1.047021     0.65463
min       1.000000     0.000000    0.166700     0.000000     0.00000
25%       2.000000     0.000000         NaN     0.000000     0.00000
50%       3.000000     0.000000         NaN     0.000000     0.00000
75%       3.000000     1.000000         NaN     1.000000     0.00000
max       3.000000     1.000000   80.000000     8.000000     4.00000

              fare        body  cluster_group
count  1255.000000  116.000000         1256.0
mean     26.593366  161.189655            0.0
std      32.161736   97.850810            0.0
min       0.000000    1.000000            0.0
25%            NaN         NaN            0.0
50%            NaN         NaN            0.0
75%            NaN         NaN            0.0
max     227.525000  328.000000            0.0

/Users/jonathanfraine/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

In [19]:
print(original_df[ (original_df['cluster_group']==2) ].describe())

       pclass  survived        age  sibsp     parch        fare  body  \
count     6.0       6.0   6.000000    6.0  6.000000    6.000000   0.0
mean      1.0       1.0  40.833333    0.0  0.333333  429.011133   NaN
std       0.0       0.0   9.239408    0.0  0.516398  129.075794   NaN
min       1.0       1.0  35.000000    0.0  0.000000  262.375000   NaN
25%       1.0       1.0  35.250000    0.0  0.000000  324.863550   NaN
50%       1.0       1.0  36.000000    0.0  0.000000  512.329200   NaN
75%       1.0       1.0  42.750000    0.0  0.750000  512.329200   NaN
max       1.0       1.0  58.000000    0.0  1.000000  512.329200   NaN

       cluster_group
count            6.0
mean             2.0
std              0.0
min              2.0
25%              2.0
50%              2.0
75%              2.0
max              2.0

/Users/jonathanfraine/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

In [20]:
cluster_0 = (original_df[ (original_df['cluster_group']==0) ])
cluster_0_fc = (cluster_0[ (cluster_0['pclass']==1) ])
cluster_0_fc.describe()

/Users/jonathanfraine/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,pclass,survived,age,sibsp,parch,fare,body,cluster_group
count,281.0,281.000000,242.000000,281.000000,281.000000,281.000000,32.000000,281.0
mean,1.0,0.594306,39.532714,0.384342,0.209964,66.034268,169.000000,0.0
std,0.0,0.491902,14.352001,0.522669,0.495018,45.795996,83.083712,0.0
min,1.0,0.000000,0.916700,0.000000,0.000000,0.000000,16.000000,0.0
25%,1.0,0.000000,NaN,0.000000,0.000000,30.000000,NaN,0.0
50%,1.0,1.000000,NaN,0.000000,0.000000,55.000000,NaN,0.0
75%,1.0,1.000000,NaN,1.000000,0.000000,82.170800,NaN,0.0
max,1.0,1.000000,80.000000,2.000000,2.000000,227.525000,307.000000,0.0